/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
} /*--------------------*/
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #4f5670;
  font-size: 23px;
  background-color: #fff;
  line-height: 30px;
}
header {
  background-color: #50577a;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  padding: 15px 0;
  margin-bottom: 50px;
}
ul {
  display: flex;
  justify-content: space-evenly;
}

li a {
  color: rgb(218, 218, 218);
  padding: 0 10px;
  border-radius: 25px;
}
li a:hover {
  background-color: rgb(179, 179, 179);
  color: #50577a;
  
  transition: all 0.5s ease;
}

li a:not(:hover) {
  background-color: #50577a;
  color: rgb(179, 179, 179);;
  transition: all 0.3s ease;
}  

h1 {
  font-size: 30px;
  margin-bottom: 60px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

.container {
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

.menu-item:hover .sub-menu {
  display: block;
}

@media (max-width: 768px) {
  * {
  user-select: none;
}

}
